@model PortfolioWebsite.Models.Project[]

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Projects";
}

<!-- start slideshow -->
<div class="slideshow">
    @if (Model.ElementAt(0).Images?[0] != null)
    {
    <img class="mySlides" src="@Url.Content(Model.ElementAt(0).Images?[0])">
    }
    <div class="slide-show-sub">
        @for (var i = 1; i < Model.Length; i++)
        {
            if (Model.ElementAt(0).Images?[0] != null)
            {
                <img class="mySlides fade" src="@Url.Content(Model.ElementAt(i).Images?[0])">
            }
        }
    </div>

    <button class="prev" onclick="plusDivs(-1)">&#10094;</button>
    <button class="next" onclick="plusDivs(+1)">&#10095;</button>
    <div style="text-align:center">
        <span class="dot active" onclick="currentSlide(1)"></span>
        @for (var i = 1; i < Model.Length; i++)
        {
            <span class="dot" onclick="currentSlide(i + 1)"></span>
        }
    </div>
</div>
<!-- end slideshow -->

<button type="submit">@Html.ActionLink("New Project", "Add")</button>

@foreach (var project in Model)
{
    <h1>@Html.ActionLink(project.Title, "Detail", new { id = project.Id })</h1>
    <a href="@Url.Action("Detail", new { id = project.Id })">
        <div class="project-preview">
            <img src="@Url.Content(project.Images[0])">
        </div>
    </a>
    <p>@project.Description</p>
}