@model PortfolioWebsite.Models.Project[]

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "List";
}

@foreach (var project in Model)
{
    <h1>@Html.ActionLink(project.Title, "Detail", new { id = project.Id })</h1>
    <a href="@Url.Action("Detail", new { id = project.Id })">
        <div class="project-preview">
            <img src="@Url.Content(project.Images[0])">
        </div>
    </a>
    <p>@project.Description</p>
}

<button type="submit">@Html.ActionLink("New Project", "Add")</button>