@model PortfolioWebsite.Models.Project[]

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Projects";
}

<!-- start slideshow -->
<div class="slideshow">
    <img class="slides" src="~/Images/screenshots-vod/1.png">
    <div class="slideshow-sub">
        @foreach (var project in Model)
        {
            <img class="slides fade" src="@Url.Content(project.Images[0])">
        }
    </div>

    <button class="prev" onclick="plusDivs(-1)">&#10094;</button>
    <button class="next" onclick="plusDivs(+1)">&#10095;</button>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(0)"></span>
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
    </div>
</div>

<!-- end slideshow -->

<button type="submit">@Html.ActionLink("New Project", "Add")</button>

@foreach (var project in Model)
{
    <h1>@Html.ActionLink(project.Title, "Detail", new { id = project.Id })</h1>
    <a href="@Url.Action("Detail", new { id = project.Id })">
        <div class="project-preview">
            <img src="@Url.Content(project.Images[0])">
        </div>
    </a>
    <p>@project.Description</p>
}